# External Editor Assets

*/FlipbookGames/*
*/FlipbookGames.meta
*/ConsolePro/*
*/ConsolePro.meta
*/AssetGraph/*
*/AssetGraph.meta
*/LocalPackageImporter/*
*/LocalPackageImporter.meta
*/RainbowAssets/*
*/RainbowAssets.meta
